{% extends 'header.html' %}

{% block conteudo %}

<div class="container main_components">
    <ul class="collection with-header">
        {% for key in component %}
        <li class="collection-item">

            <span class="text">{{key.description}}</span>

            <div class="secondary-content">
                <div class="switch pulse">
                    <label class="text">
                        Off
                        <input data-description="{{key.description}}" data-pin="{{key.pin}}" class="handleToogle" type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="row">
    <div class="sm12 center-align">
        <a href="/" class="btn">Voltar</a>
    </div>
</div>

{% endblock %}
