<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="{{ url_for('static', filename='jquery/jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}">
    <script src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- include the script -->
    <script src="{{ url_for('static', filename='alertify/alertify.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='alertify/css/alertify.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='alertify/css/themes/bootstrap.min.css') }}">
</head>


<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue fixed">
                <a href="/" class="brand-logo left title">
                  {% if request.path != "/" %}
                    <i class="material-icons">keyboard_arrow_left</i>
                  {% endif %}

                  {{title}}
                </a>
            </div>
        </nav>
    </div>
    {% block conteudo %}

    {% endblock %}
</body>
</body>

<style media="screen">
.text{ width: 50%; font-size: 1.3em}
li { height: 60px;}
</style>
</html>
