<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="{{ url_for('static', filename='jquery/jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}">
    <script src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>

    <title>Automação Residencial</title>
</head>
<body>
    <div class="row">
        {% for key in rooms.keys() %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img width="70%" src="{{ url_for('static', filename='images/sample-1.jpg') }}">
                    <span class="card-title">{{rooms[key]._name}}</span>
                </div>

                <div class="card-action">
                    <a href="/component/{{key}}" class="btn" type="button" name="button">Abrir</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
